<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Sign up</h1>
    <form class="searcher" action="/users/create" method="POST">
        <input name="name" id="name__input" class="name__input" type="text">
        <input name="email" id="email__input" class="email__input" type="text">
        <input name="password" id="password__input" class="password__input" type="password">
        <button id="signUp__button" class="signUp__button">Sign Up</button>
    </form>
</body>
</html>